.listview-container{
    background-color: #4f4f4f;
    border-radius: 5px;
    height: 80px;
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.text-col{
    div:nth-child(1){
        font-size: 18px;
        padding-top: 20px;
    }
    div:nth-child(2){
        font-size: 12px;
    }
}

.button-col{
    padding: 0 30px;
    background-color: #e40000;
    border-radius: 5px;
    margin: 15px 0;
    line-height: 50px;
    text-align: center;

    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 420px){
    .button-col{
        padding: 0 10px;
        line-height: 70px;
    }

    .text-col{
        div:nth-child(1){
            font-size: 16px;
            padding-top: 30px;
        }
    }

    .listview-container{
        height: 100px;
    }
}